<!DOCTYPE HTML>
<html>
<head>
    <title>Hazy Shade | {{category}}</title>
    <link rel="stylesheet" href="../../build/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../../node_modules/font-awesome/css/font-awesome.min.css" rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="header">
    <div id="demo_top_wrapper">
        <div id="sticky_navigation">
            <div class="navigation">
                <div class="logo"><a href="/">SH</a></div>
                <span class="menu"></span>
                <div class="navig">
                    <ul>
                        <li>
                            <a class="navig-a" href="assets/pages/women.html">Woman</a>
                            <div class="dropdown-nav">
                                <div class="row">
                                    <div class="col-md-3">
                                        <h3><a href="assets/pages/women_coats.html">COATS</a></h3>
                                        <a class="item" href="assets/pages/women_coats.html"><div class="img-women-coats"></div></a>
                                    </div>
                                    <div class="col-md-3">
                                        <h3><a href="assets/pages/women_dresses.html">DRESSES</a></h3>
                                        <a class="item" href="assets/pages/women_dresses.html"><div class="img-women-dresses"></div></a>
                                    </div>
                                    <div class="col-md-3">
                                        <h3><a href="assets/pages/women_shoes.html">SHOES</a></h3>
                                        <a class="item" href="assets/pages/women_shoes.html"><div class="img-women-shoes"></div></a>
                                    </div>
                                    <div class="col-md-3">
                                        <h3><a href="assets/pages/women_tops.html">TOPS</a></h3>
                                        <a class="item" href="assets/pages/women_tops.html"><div class="img-women-tops"></div></a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a class="navig-a" href="assets/pages/men.html">Men</a>
                            <div class="dropdown-nav">
                                <div class="row">
                                    <div class="col-md-3">
                                        <h3><a href="assets/pages/women_coats.html">COATS</a></h3>
                                        <a class="item" href="assets/pages/women_coats.html"><div class="img-women-coats"></div></a>
                                    </div>
                                    <div class="col-md-3">
                                        <h3><a href="assets/pages/women_dresses.html">DRESSES</a></h3>
                                        <a class="item" href="assets/pages/women_dresses.html"><div class="img-women-dresses"></div></a>
                                    </div>
                                    <div class="col-md-3">
                                        <h3><a href="assets/pages/women_shoes.html">SHOES</a></h3>
                                        <a class="item" href="assets/pages/women_shoes.html"><div class="img-women-shoes"></div></a>
                                    </div>
                                    <div class="col-md-3">
                                        <h3><a href="assets/pages/women_tops.html">TOPS</a></h3>
                                        <a class="item" href="assets/pages/women_tops.html"><div class="img-women-tops"></div></a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li><a class="navig-a" href="#">Kids</a></li>
                        <li><a class="navig-a" href="#">Comming Soon</a></li>
                        <li><a class="navig-a" href="assets/pages/about.html">About</a></li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="navigation-right">
                <ul class="user">
                    <li>
                        <div class="search-wrapper">
                            <div class="input-holder">
                                <input id="tags" type="text" class="search-input" placeholder="Type to search" />
                                <button id="submit"  class="search-icon"  onclick="searchToggle(this, event);"><div></div></button>
                            </div>
                            <div class="close" onclick="searchToggle(this, event);"></div>
                        </div>
                    </li>
                    <li>
                        <span></span><a href="../../assets/pages/login.html">Log In</a>
                    </li>
                    <li>
                        <span class="bascket"></span><a href="../../assets/pages/bascket.html">Basket(0)</a>
                    </li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div class="container">
    <section id="main">
        <div class="content">
            <div class="pag-nav">
                <ul class="p-list">
                    <li><a href="/">Home</a></li> |
                    <li class="act">&nbsp;{{category}}</li>
                </ul>
            </div>
            <div class="coats">
                {{#each itemSubcategory}}
                    <h3 class="c-head">{{subcategory}}</h3>
                    <small><a href={{item-subcategory}}>Show More</a></small>
                    <div class="coat-row" id="coats">
                        {{#each items}}
                            <div class="coat-column">
                                <a href="single.html">
                                    <img src={{image}} class="img-responsive" alt="">
                                    <div class="prod-desc"><h4>{{title}}</h4>
                                        <small>&euro; {{price}}</small>
                                    </div>
                                </a>
                                <div class="mask">
                                    <div class="info"><a href="single.html">View</a></div>
                                </div>
                            </div>
                        {{/each}}
                        <div class="clearfix"></div>
                    </div>
                {{/each}}
            </div>
        </div>
    </section>
</div>
<div class="footer-container">
    <div class="row">
        <div class="footer-sign-up">
            <div class="container-sign-up">
                <div class="col-md-5">
                    <div class="social_media_panel">
                        <div class="follow-us">Follow us</div>
                        <div class="links social_media">
                            <ul class="items social_box">
                                <li>
                                    <a href="#"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="block_subscribe">
                        <form action="#" method="post" id="newsletter_validate">
                            <div class="block_content">
                                <div class="input_box">
                                    <input type="email" name="email" id="newsletter" placeholder="Subscribe to our newsletter" class="input_text">
                                </div>
                                <div class="actions">
                                    <button type="submit" title="Subscribe" class="button_subscribe">
                                        <span>Subscribe</span>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="footer">
        <div class="row footer-row">
            <div class="col-md-3 footer-col">
                <h3 class="ft-title">Collection</h3>
                <ul class="ft-list">
                    <li><a href="#">Woman</a></li>
                    <li><a href="#">Men</a></li>
                    <li><a href="#">Kids</a></li>
                    <li><a href="#">Comming Soon</a></li>
                </ul>
            </div>
            <div class="col-md-3 footer-col">
                <h3 class="ft-title">site</h3>
                <ul class="ft-list  list-h">
                    <li><a href="#">Terms of Service </a></li>
                    <li><a href="#">Privacy Policy </a></li>
                    <li><a href="#">Copyright Policy </a></li>
                    <li><a href="#">Press Kit</a></li>
                    <li><a href="#">Support</a></li>
                </ul>
            </div>
            <div class="col-md-3 footer-col">
                <h3 class="ft-title">Shop</h3>
                <ul class="ft-list list-h">
                    <li><a href="#">About us</a></li>
                    <li><a href="#">Shipping Metods</a></li>
                    <li><a href="#">Career</a></li>
                    <li><a href="assets/pages/contact.html">Contact</a></li>
                </ul>
            </div>
            <div class="col-md-3 foot-cl">
                <p>Shoper is made with love in Warsaw,<br>2014 &copy; Template By
                    <a href="http://w3layouts.com/">W3layouts</a></p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<script type="text/x-handlebars-template" id="item-template">
    <div class="coat-column">
        <a href="single.html">
            <img src="../img/woman/tops_woman/top7.jpg" class="img-responsive" alt="">
            <div class="prod-desc"><h4>Double-Layered Top</h4>
                <small>&euro; 89,95</small>
            </div>
        </a>
        <div class="mask">
            <div class="info"><a href="single.html">View</a></div>
        </div>
    </div>
</script>
<script type="text/javascript" src="../../build/scripts.min.js"></script>
</body>
</html>