<div>
    <!--Price range-->
    <div class="range_filter">
        <p>
            <label for="amount">Price range:</label>
            <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
        </p>
        <div id="slider-range"></div>
    </div>
    <!--End price range-->

    <!--Colors filter-->
    <div class="colors_filter">
        <p><strong>Country:</strong></p>
        <div class="colors_filter_scroll">
            {{#each country}}
                <input type='checkbox' id="ch1" value={{@index}}>
                <label for="ch1">{{this}}</label><br/>
            {{/each}}
        </div>
    </div>
    <!--<p>Your favourite color:</p>-->
    <!--<input type="color">-->
    <!--End colors_filter-->

    <!--Brand filter-->
    <div class="brands_filter">
        <p><strong>Brand:</strong></p>
        <select name="brands">
            <option selected="selected">-- brand--</option>
            {{#each brands}}
                <option value={{@index}}>{{this}}</option>
            {{/each}}
        </select>
    </div>
    <!--End brand_filter-->

    <!--Size filters-->
    <div class="size_filter">
        <p><strong>Size:</strong></p>
        <div class="size_filter_scroll">
            {{#each sizes}}
                <input type='checkbox' id="s1" value={{@index}}>
                <label for="s1">{{this}}</label>
            {{/each}}
        </div>
    </div>
    <input type="submit" id="submit_filter" value="Filter out">
</div>