<div>
    <!--Price range-->
    <div class="range_filter">
        <p>
            <strong>Price range: </strong>
            <input type="text" id="amount" readonly>
        </p>
        <div id="slider-range"></div>
    </div>
    <!--End price range-->

    <!--Colors filter-->
    <div class="colors_filter">
        <p><strong>Country:</strong></p>
        <div class="colors_filter_scroll">
            {{#each country}}
                <input type='checkbox' class="country" id="ch{{@index}}" value={{this}}>
                <label for="ch{{@index}}">{{this}}</label><br/>
            {{/each}}
        </div>
    </div>
    <!--<p>Your favourite color:</p>-->
    <!--<input type="color">-->
    <!--End colors_filter-->

    <!--Brand filter-->
    <div class="brands_filter">
        <p><strong>Brand:</strong></p>
        <select name="brands">
            <option selected="selected">-- brand--</option>
            {{#each brands}}
                <option value={{this}}>{{this}}</option>
            {{/each}}
        </select>
    </div>
    <!--End brand_filter-->

    <!--Size filters-->
    <div class="size_filter">
        <p><strong>Size:</strong></p>
        <div class="size_filter_scroll">
            {{#each sizes}}
                <input type='checkbox' id="s{{@index}}" value={{@index}}>
                <label for="s{{@index}}">{{this}}</label>
            {{/each}}
        </div>
    </div>
    <input type="submit" id="submit_filter" value="Filter out">
</div>