{{#each items}}
    <div class="coat-column" data-id={{id}}>
        <a href="single.html">
            <img src={{image}} class="img-responsive" alt="">
            <div class="prod-desc">
                <h4 class="item_title">{{title}}</h4>
                <small class="item_price">&euro; {{price}}</small>
            </div>
        </a>
        <div class="mask">
            <div class="info" id="getItemInfo"><a href="{{../subcategory}}/{{id}}">View</a></div>
        </div>
    </div>
{{/each}}